# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Ansible
*.retry

# Jenkins / Pipeline generated
dynamic_inventory.ini

# SSH Keys
kratos
kratos.pub
*.pem

# General
.DS_Store
*.log
*.tmp